.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header-logo {
  width: 10%;
}
.nav-link {
  text-decoration: none;
}
.nav-item {
  color: black;
  list-style: none;
  font-size: 25px;
}
